@font-face {
  font-family: CircularStd-Book; src: url('circular_std_book/CircularStd-Book.otf');
}


html, body {
  margin: 0;
  height: 100%;
}

body {

  font-family: CircularStd-Book;
  font-weight: lighter;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

h3 {
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
  /*text-transform: uppercase;*/
  font-size: 30px;
}

a:hover {
  color: #00faff;
}

.center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.panel {
	height: 100%;
	width: 100%;
	position: absolute;
}

.intro {
  width: 100%;
  height: 100%;
  background-color: #fff7f7;
}

.about {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.aboutme {
  width: 60%;
  /*text-align: center;*/
  font-size: 25px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
}

.projects {
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
}

.title {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.makeit {
  float: right;
  margin-right: 100px;
  text-align: center;
}

.aboutmakeit {
  float: left;
  margin-left: 100px;
  width: 504px;
  height: 465px;
  font-size: 18px;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/

}

.titletwo {
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

.neighborly {
  float: right;
  margin-right: 100px;
  text-align: center;
}

.aboutneighborly {
  float: left;
  margin-left: 100px;
  width: 420px;
  font-size: 18px;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}

.projectlink {
  font-size: 20px;
  padding: 10px;
}

button{
  font-family: CircularStd-Book;
  font-size: 18px;
  border: none;
  background-color: #fcfcfc;
}

button:hover{
  background-color: #00faff;
}

button:focus {
  outline: 0;

}

#next {
  clear: both;
  text-align: center;
}

.contact {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
}

.fa {
  padding: 10px;
}
