@font-face {
  font-family: CircularStd-Book; src: url('circular_std_book/CircularStd-Book.otf');
}


html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: CircularStd-Book;
  font-weight: lighter;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

h3 {
  font-size: 40px;
  /*text-align: center;*/
  font-weight: lighter;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.panel {
	height: 100%;
	width: 100%;
	position: absolute;
}

.intro {
  width: 100%;
  height: 100%;
  background-color: #ffeff7;
}

.about {
  width: 100%;
  height: 100%;
  background-color: #fbefff
}

.projects {
  width: 100%;
  height: 100%;
  background-color: #eff0ff;
}

.makeit {
  float: right;

}

.aboutmakeit {
  float: left;

}

.neighborly {
  clear: both;
}

.contact {
  width: 100%;
  height: 100%;
  background-color: #effeff;
}

#githublogo {
  height: 20px;

}

#envelope {
  height: 20px;

}
